In [3]:
import numpy as np
import pandas as pd

In [ ]:
#

In [4]:
s = pd.Series([1, 2, 3, np.nan, 6, 8])

In [6]:
df2 = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

In [31]:
mydf = pd.read_csv('E:/07.论文课题/易访库.csv')

In [34]:
mydf.describe()

,PROD_ID,ONLINE_MONTHS,VIP_LEVEL,GENDER,AGE,BRD_RAX,BRD_ACTIVE_DAYS,TRMNL_MONTHS,MBL_DATA_FLOW_AMNT00,MBL_DATA_FLOW_AMNT01,MBL_DATA_FLOW_AMNT02,MBL_DATA_FLOW_AMNT03,MBL_VOICE_DRTN00,MBL_VOICE_DRTN01,MBL_VOICE_DRTN02,MBL_VOICE_DRTN03,MBL_DATA_4G_FLOW_AMNT00,MBL_DATA_OTHER_FLOW_AMNT00
count,7.161600e+04,71616.000000,63196.000000,64762.000000,64762.000000,51851.000000,45019.000000,69422.000000,71616.000000,71196.000000,70998.000000,70516.000000,71616.000000,71196.000000,70998.000000,70516.000000,71616.000000,71616.000000
mean,1.003581e+07,56.988369,11.049434,1.293907,46.429542,192.251586,6.267820,21.265867,8267.012232,8283.083530,8214.775712,8078.510366,271.682110,265.049834,270.080580,267.140762,8245.277689,21.719029
std,2.067390e+04,44.333298,26.031462,0.455553,14.330136,141.907568,8.405305,20.533716,11707.420321,12067.426981,12255.945311,12133.466839,351.991232,342.943531,352.514655,351.307389,11706.450901,376.250117
min,1.000000e+07,1.000000,1.000000,1.000000,15.000000,2.000000,1.000000,-15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.001790e+07,17.000000,2.000000,1.000000,35.000000,100.000000,1.000000,7.000000,45.000000,30.000000,22.000000,14.000000,56.000000,54.000000,53.000000,51.000000,24.000000,0.000000
50%,1.003581e+07,47.000000,4.000000,1.000000,45.000000,200.000000,2.000000,16.000000,3192.000000,2981.000000,2785.000000,2575.000000,155.000000,150.000000,152.000000,150.000000,3161.000000,0.000000
75%,1.005371e+07,95.000000,5.000000,2.000000,55.000000,200.000000,6.000000,29.000000,12354.000000,12076.000000,11782.750000,11546.250000,349.000000,342.000000,348.000000,345.000000,12321.000000,0.000000
max,1.007162e+07,213.000000,99.000000,2.000000,100.000000,1000.000000,31.000000,168.000000,237054.000000,170083.000000,169857.000000,158894.000000,7724.000000,6765.000000,7717.000000,6001.000000,237054.000000,32800.000000

In [35]:
mydf_800 = mydf[0:800]

In [36]:
mydf_800

,PROD_ID,ACCESS_NUMBER,CALL_DT,ONLINE_MONTHS,VIP_LEVEL,GENDER,AGE,IF_GROUP,IF_SCHOOL,BRD_F,...,MBL_DATA_FLOW_AMNT00,MBL_DATA_FLOW_AMNT01,MBL_DATA_FLOW_AMNT02,MBL_DATA_FLOW_AMNT03,MBL_VOICE_DRTN00,MBL_VOICE_DRTN01,MBL_VOICE_DRTN02,MBL_VOICE_DRTN03,MBL_DATA_4G_FLOW_AMNT00,MBL_DATA_OTHER_FLOW_AMNT00
0,10000001,189****2330,2018/12/4 9:40,119,5.0,1.0,50.0,N,N,Y,...,2595,2680.0,1037.0,966.0,259,349.0,328.0,336.0,2595,0
1,10000002,189****9866,2019/7/19 10:05,126,5.0,1.0,50.0,Y,N,Y,...,0,0.0,0.0,0.0,33,50.0,48.0,60.0,0,0
2,10000003,153****5545,2019/11/10 16:36,130,5.0,1.0,40.0,N,N,Y,...,52048,16238.0,9414.0,14899.0,196,314.0,281.0,274.0,52048,0
3,10000004,189****7810,2019/11/10 17:22,130,4.0,2.0,65.0,N,N,Y,...,1257,1484.0,994.0,855.0,213,148.0,150.0,181.0,1257,0
4,10000005,189****7326,2019/7/2 11:15,124,4.0,1.0,50.0,N,N,Y,...,305,799.0,1608.0,159.0,245,473.0,803.0,120.0,305,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,10000796,153****9979,2019/7/3 14:05,83,2.0,2.0,75.0,N,N,N,...,0,0.0,0.0,0.0,18,37.0,63.0,42.0,0,0
796,10000797,189****3595,2019/6/6 17:06,88,4.0,1.0,65.0,N,N,Y,...,3548,2877.0,4593.0,3983.0,61,41.0,43.0,47.0,3548,0
797,10000798,153****3030,2019/12/2 9:51,91,5.0,1.0,55.0,Y,N,Y,...,3829,5311.0,4173.0,2853.0,538,528.0,507.0,501.0,3828,0
798,10000799,189****1917,2019/11/6 9:43,87,2.0,1.0,65.0,N,N,N,...,0,0.0,0.0,0.0,72,51.0,83.0,23.0,0,0
799,10000800,189****8279,2019/8/19 15:11,83,4.0,1.0,55.0,Y,N,Y,...,0,1.0,0.0,0.0,67,92.0,34.0,29.0,0,0

In [37]:
mydf_800.columns

Index(['PROD_ID', 'ACCESS_NUMBER', 'CALL_DT', 'ONLINE_MONTHS', 'VIP_LEVEL',
       'GENDER', 'AGE', 'IF_GROUP', 'IF_SCHOOL', 'BRD_F', 'BRD_RAX',
       'BRD_ACTIVE_DAYS', 'IF_ITV', 'IF_DBL_CARD', 'IF_4G_TRMNL',
       'TRMNL_MONTHS', 'IF_VOLTE', 'MBL_DATA_FLOW_AMNT00',
       'MBL_DATA_FLOW_AMNT01', 'MBL_DATA_FLOW_AMNT02', 'MBL_DATA_FLOW_AMNT03',
       'MBL_VOICE_DRTN00', 'MBL_VOICE_DRTN01', 'MBL_VOICE_DRTN02',
       'MBL_VOICE_DRTN03', 'MBL_DATA_4G_FLOW_AMNT00',
       'MBL_DATA_OTHER_FLOW_AMNT00'],
      dtype='object')